
.header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 200px; */
}
.header-para{
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 34rem;
  margin-top: 10px;
  margin-right: 10px;
}
.header-img{
}

.award-ceremony{
  padding-top: 20px;
  display: flex;
  justify-self: unset;
  justify-content: center;
  width: fit-content;
  height: 55vh;
}
/* .header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
} */

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .l1{

      .image-body{
          padding: 50px;
      }
      size: 30%;
      width: 33vw;
      .award-img{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 27rem;
      }
  }

  .l2{
      width: 67vw;
  }
}
.log-img{
  width:30rem;
  height:10rem;  
}

.third-block{
  p{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  }
}

.third-block-image{

  display: flex;
  justify-content: center;
  align-items: center;

  .product-img{
      width: 50rem;
      height: 20rem ;
      /* display: flex;
      align-items: center;
      justify-content: center; */
  }
}

.footer-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .footer-box {
      display: flex;
      margin: 10px;
      background: #f51515d9;
      width: 100%;
      height: 100px;
      color: white;
      justify-content: space-evenly;
  }
}